body{
    background: white;
}
.pic8{
    float: left;
    width: 50%;
}
.login{
    display: flex;
    flex-wrap: wrap;
}
.log{
    margin-top: 300px;
}
.log h2{
    margin-left: 200px;
    margin-bottom: 50px;
}
#email{
    margin-left: 25%;
    width: 100%;
    margin-bottom: 30px;
    height: 8%;
    border-radius: 5px;
    box-shadow: 0px 0.2px 5px rgb(159, 118, 118);
}
#pass{
    margin-left: 25%;
    width: 100%;
    margin-bottom: 30px;
    height: 8%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(159, 118, 118);
}
.button{
    margin-left: 25%;
    width: 100%;
    margin-bottom: 30px;
    height: 8%;
    border-radius: 5px;
    background: green;
    box-shadow: 0px 0px 5px green;
    color: rgb(170, 106, 106)
}
.tin{
    display: flex;
    gap: 50%;
}
.sect1{
    margin-left: 25%;
}
.sect2{
    margin-left: 25%;
}
.are{
    color: black;
    text-decoration: none;
}
a:hover{
    color: blue;
}
@media onscreen and(max-width: 600px){
    .login{
        height: 100vh;
        border-radius: 5px;
        font-size: small;
        background-color: rgba(201, 153, 217, 0.476);
    }
    .log{
        margin-top: 12px;
    }
    .img{
        display: none;
    }
    .button{
        margin-left: 25%;
        width: 100%;
        margin-bottom: 20px;
        height: 8%;
        border-radius: 10px;
        background: green;
        box-shadow: 0px 0px 0px green;
        color: rgb(170, 106, 106)
    }
    #pass{
        margin-left: 25%;
        width: 100%;
        margin-bottom: 40px;
        height: 10%;
        border-radius: 8px;
        box-shadow: 0px 0px 0px rgb(159, 118, 118);
    }
    #email{
        margin-left: 25%;
        width: 100%;
        margin-bottom: 40px;
        height: 8%;
        border-radius: 10px;
        box-shadow: 0px 0px 0px rgb(159, 118, 118);
    }
    .tin{
        margin-left: 12px;
        gap: 150px;
    }
}